.label {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.selectWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
    align-items: center;
}

.select {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 8px 40px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    transition: border-color 0.3s ease;
}

.select:hover {
    border: 1px solid #7a96ea;;
    outline: none;
    box-shadow: none;
}

.selectOpen {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(255, 255, 255, 0);;
}

.selectText {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selectIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    fill: rgba(0, 0, 0, 0.6);
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 2;
    transition:
        fill 0.3s ease,
        stroke 0.3s ease;
    flex-shrink: 0;
    margin-left: 8px;
}

.selectWrapper:hover .selectIcon,
.selectOpen .selectIcon {
    fill: #7a96ea;
    stroke: #7a96ea;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--background);
    border: 1px solid #7a96ea;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
    margin-top: -1px;
}

.dropdownItem {
    padding: 8px 12px;
   font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdownItem:hover {
    background-color:#e8eeff;
}

.dropdownItemSelected {
    background-color: #e8eeff;
}

.buttonsWrapper {
    display: none;
}

.categoryBtn {
    background: transparent;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #555555;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.categoryBtn:hover {
    color:#000000;
}

.active {
    font-weight: 600;
    color:#000000;
    background-color:#f2f2f2;
}

@media screen and (min-width: 768px) {
    .buttonsWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .selectWrapper {
        display: none;
    }
    .label {
        display: none;
    }
}

@media (min-width: 1440px){
    .categoryBtn{
        font-size: 18px;
    }

}