.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 124px;
  padding-bottom: 331px;

  
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 24px;
}



.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #FFFFFF;

}

.subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  
}


.moreButton {
    align-self: stretch;
    text-align: center;
    border: 1px solid #4169E1;
    border-radius: 8px;
    padding: 6px 12px;
    background: #4169E1;
    font-family: var(--second-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.moreButton:hover, 
.moreButton:focus {
    background-color: #E8EEFF;
    color:#000;
}

.moreButton:active {
  background-color: #7A96EA;
  color:#000;
}
@media (min-width: 320px) and (max-width:375px) {

.hero {
  display: flex;
  justify-content: center;
}
  .content {
    max-width: 335px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .title {
    font-size: 48px;
  }
  .subtitle{
  font-size: 16px;
}
.hero {
  padding-bottom: 117px;
  padding-top: 172px;
  align-items: flex-start;
  align-items: center;
}
.moreButton{       
  align-self: flex-start;
  margin-top: 8px;

}
.content {

  padding: 0 32px;
}
}



@media (min-width: 1440px) {
  .title {
    font-size: 56px;
  }
  .subtitle {
    font-size: 20px;
  }
  .hero {
  padding-bottom: 346px;
  padding-top: 172px;
  padding-right: 553px;
  align-items: flex-start;
}
.content {
  padding: 0 64px;
}
.moreButton{
  align-self: flex-start;
  margin-top: 8px;
  

}

}


