.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F7F9FF;
}
.closeButton {
  position: absolute;
  top: 14px;
  right: 20px;
  background: rgb(0, 0, 0, 0.05);
  border: 1px solid rgb(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 0;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
