.travellersSection {
  padding-block: 64px;
}

.titleTraveller {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 48px;
}

@media (min-width: 1440px) {
  .travellersSection {
    padding-block: 72px;
  }
}
