.travellersSection {
  padding-block: 64px;
  background-color: #f7f9ff;
}

.titleTraveller {
  font-family: "Sora";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .travellersSection {
    padding-block: 72px;
  }
  .titleTraveller {
    font-size: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .travellersSection {
    padding-block: 72px;
  }
  .titleTraveller {
    font-size: 52px;
  }
}
