.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 32px 20px;
    background: #f7f9ff;
    box-sizing: border-box;
}


.content {
    width: 100%;
    max-width: 375px;
    
}


.title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    color: #111827;
    margin-bottom: 32px;
    text-align: left;
}


@media (min-width: 768px) {

    .page {
        
        padding: 24px 16px 40px;
    }

    .content {
        max-width: 704px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 32px;
    }
}


@media (min-width: 1440px) {

    .page {
        width: 100%;
        padding: 48px 64px;
    }

    .content {
        max-width: 1312px;
       
    }

    .title {
        font-size: 40px;
        margin-bottom: 32px;
    }
}