.title {
    font-family: "Sora", sans-serif;;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}  

.stories__more {
    background: #4169e1;
    border: 1px solid #4169e1;
    color: var(--background);
    background: #4169e1;
    border: 1px solid #4169e1;
    color: var(--background);
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 48px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.stories__more:hover {
    background: #e8eeff;
    color: #0a0a0a;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
    border: 1 solid #4169e1;
}

.loadMoreWrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.loader {
    position: static;
}

.storiesList {
    margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
    .stories__more {
        font-size: 18px;
    }

    .title{
        font-size: 56px;
    }


    .stories__more:hover,
    .stories__more:focus {
        background: #e8eeff;
        color: #000000;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(59, 130, 246, 0.08);
    }

    .stories__more:active {
        background: #7a96ea;
        color: #000000;
        transform: translateY(0);
    }
}

