.addStoryPageContainer {
  position: relative;
  background-color: #f7f9ff;
}

.mainTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;

  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-text-primary);
}

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .mainTitle {
    font-size: 56px;

    padding-top: 48px;
    padding-bottom: 48px;
  }
}
