.container {
  background: #f7f9ff;
}
.PopularList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 335px;
  margin: 24px auto;

  width: 100%;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-left: 32px;
}

.saveButton {
  margin: 0 auto;
  border: 1px solid #4169e1;
  border-radius: 8px;
  width: 100%;
  max-width: 295px;
  height: 48px;
  background: #4169e1;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  display: block;
}

@media screen and (min-width: 768px) {
  .PopularList {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 704px;
  }
  .title {
    font-size: 44px;
  }
}
@media screen and (min-width: 1440px) {
  .PopularList {
    max-width: 1312px;
  }

  .title {
    font-size: 52px;
  }
}
