.avatarWrapper {
  width: 199px;
  height: 199px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatarPlaceholder {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarLetter {
  font-size: 80px;
  font-weight: 600;
  color: #666;
  user-select: none;
}