/*     MOBILE FIRST       */

.container {
  width: 100%;
  padding: 0 20px;
  min-width: 320px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  padding: 0;
  list-style: none;
}

.item {
  padding: 24px;
  border-radius: 16px;
  background-color: #e8eeff;
}

.img {
  width: 112px;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-bottom: 24px;
}

.titleName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #000;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  height: 70px;
  overflow: hidden;
  color: #000;
  margin-bottom: 16px;
}

.btnUser {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  font-weight: 500;
}
.btnUser:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btnTraveller {
  display: block;
  margin: 48px auto 0;
  width: 156px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #4169e1;
  background-color: #4169e1;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 200ms ease-in-out,
    border-color 250ms ease-in-out;
}
.btnTraveller:hover:not(:disabled) {
  background-color: #152862;
  border-color: #152862;
}

.btnTraveller:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/*      TABLET 768px      */

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .title {
    font-size: 48px;
  }
  .list {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }

  .titleName {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
    height: 70px;
  }

  .btnUser {
    font-size: 16px;
  }

  .btnTraveller {
    width: 156px;
    font-size: 16px;
  }
}

/*     DESKTOP    */

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .title {
    font-size: 56px;
  }

  .list {
    grid-template-columns: repeat(4, 1fr);
  }
  .titleName {
    font-size: 26px;
  }

  .text {
    font-size: 18px;
    height: 80px;
  }

  .btnUser {
    font-size: 18px;
  }

  .btnTraveller {
    width: 173px;
    font-size: 18px;
  }
}
