.storiesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

 
@media screen and (min-width: 768px) {
    .storiesList {
        flex-direction: row;
        flex-wrap: wrap;
    }
}