.aboutSection {
  background-color: #F7F9FF;
  padding: 64px 20px;
}

.aboutContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.aboutHeading {
  font-family: "Sora", sans-serif;
  font-size: clamp(28px, 8vw, 36px);
  line-height: 1.2;
  color: #000;
}

.aboutDescription {
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
  color: #000;
  padding: 8px 0px 0px;
}

.aboutCards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.aboutIcon {
  width: 48px;
  height: 48px;
  align-self: left;
  fill: #000;
}

.aboutCardTitle {
  font-family: "Sora", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.aboutCardText {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

@media screen and (min-width: 375px) {
  .aboutHeader {
    gap: 24px;
    text-align: left;
  }

  .aboutHeading {
    font-size: 28px;
    max-width: 100%;
  }

  .aboutDescription {
    font-size: 16px;
    max-width: 100%;
  }

  .aboutCards {
    gap: 32px;
  }

  .aboutCardTitle {
    font-size: 20px;
  }

  .aboutCardText {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {

  .aboutHeader {
    flex-direction: row;
    gap: 48px;
    align-items: flex-start;
  }

  .aboutHeading {
    font-size: 44px;
    max-width: 340px;
  }

  .aboutDescription {
    font-size: 16px;
    max-width: 340px;
  }

  .aboutCards {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    max-width: 704px;
    margin: 0 auto;
  }

  .aboutCard {
    flex: 1 1 calc((100% - 32px) /3);
    text-align: left;
    gap: 8px;
  }

  .aboutIcon {
    align-self: flex-start;
  }

  .aboutCardTitle {
    font-size: 20px;
  }

  .aboutCardText {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {

  .aboutHeader {
    flex-direction: row;
    gap: 24px;
  }

  .aboutHeading {
    font-size: 52px;
    max-width: 755px;
  }

  .aboutDescription {
    font-size: 20px;
    max-width: 533px;
  }

  .aboutCards {
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    max-width: 1312px;
  }

  .aboutCard {
    flex: 1 1 calc((100% - 96px) / 3);
    gap: 24px;
  }

  .aboutCardTitle {
    font-size: 32px;
  }

  .aboutCardText {
    font-size: 18px;
  }
}